#dropdown-news-button {
  .badge {
    background-color: #FF4319;
  }
}

#dropdown-news, #news {
  width: 400px;
  padding: 0;
  font-size: 14px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: auto;
    max-height: 365px;

    li {
      color: #333;
      text-shadow: 1px 1px 1px #fff;
      clear: both;
      padding: 10px;
      border-top: 1px solid #eee;

      time {
        clear: both;
        display: table;
        font-size: 0.85em;
        color: #999;
        text-align: right;
      }
    }

    li.read, li.read time {
      background-color: #f0f0f0;
      color:#ccc;
    }
  }

  .footer {
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;

    a {
      color: #337AB7;
    }
  }
}

#news {
  width: 100%;
  font-size: 1.4em;
}
